# Imports

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules
import itertools

# Load Data

In [2]:
df = pd.read_csv("../datasets/GroceryStoreDataSet.csv",names=['products'])
df.head()

                        products
0             MILK,BREAD,BISCUIT
1  BREAD,MILK,BISCUIT,CORNFLAKES
2            BREAD,TEA,BOURNVITA
3           JAM,MAGGI,BREAD,MILK
4              MAGGI,TEA,BISCUIT

# Prepare Data for Apriori Algorithm

In [3]:
transactions = list(df["products"].apply(lambda x:x.split(',')))

from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()
te_data = te.fit(transactions).transform(transactions)
df = pd.DataFrame(te_data,columns=te.columns_).astype(int)

df

,BISCUIT,BOURNVITA,BREAD,COCK,COFFEE,CORNFLAKES,JAM,MAGGI,MILK,SUGER,TEA
0,1,0,1,0,0,0,0,0,1,0,0
1,1,0,1,0,0,1,0,0,1,0,0
2,0,1,1,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,1,1,1,0,0
4,1,0,0,0,0,0,0,1,0,0,1
5,0,1,1,0,0,0,0,0,0,0,1
6,0,0,0,0,0,1,0,1,0,0,1
7,1,0,1,0,0,0,0,1,0,0,1
8,0,0,1,0,0,0,1,1,0,0,1
9,0,0,1,0,0,0,0,0,1,0,0
10,1,0,0,1,1,1,0,0,0,0,0
11,1,0,0,1,1,1,0,0,0,0,0
12,0,1,0,0,1,0,0,0,0,1,0
13,0,0,1,1,1,0,0,0,0,0,0
14,1,0,1,0,0,0,0,0,0,1,0
15,0,0,0,0,1,1,0,0,0,1,0
16,0,1,1,0,0,0,0,0,0,1,0
17,0,0,1,0,1,0,0,0,0,1,0
18,0,0,1,0,1,0,0,0,0,1,0
19,0,0,0,0,1,1,0,0,1,0,1

# Algorithm Step by Step (own implementation)
## Firs Iteration
1. Find support values for each product. We divide item frequency by row number.
2. Filter out frequency lower than 20%

In [4]:
first = pd.DataFrame(df.sum() / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
first = first[first.Support >= 0.20]
first

            Support
BREAD          0.65
COFFEE         0.40
BISCUIT        0.35
TEA            0.35
CORNFLAKES     0.30
SUGER          0.30
MAGGI          0.25
MILK           0.25
BOURNVITA      0.20

## Second Iteration
1. Find every posible product pair
2. Calculate their support value
3. Eliminate those with frequency lower than 10%

In [5]:
second = list(itertools.combinations(first.index, 2))
second = [list(i) for i in second]
second[:10]

[['BREAD', 'COFFEE'],
 ['BREAD', 'BISCUIT'],
 ['BREAD', 'TEA'],
 ['BREAD', 'CORNFLAKES'],
 ['BREAD', 'SUGER'],
 ['BREAD', 'MAGGI'],
 ['BREAD', 'MILK'],
 ['BREAD', 'BOURNVITA'],
 ['BREAD', 'COCK'],
 ['BREAD', 'JAM']]

In [6]:
#Finding support values
value = []
for i in range(0, len(second)):
    temp = df.T.loc[second[i]].sum() 
    temp = len(temp[temp == df.T.loc[second[i]].shape[0]]) / df.shape[0]
    value.append(temp)
secondIteration = pd.DataFrame(value, columns = ["Support"])
secondIteration["index"] = [tuple(i) for i in second]
secondIteration['length'] = secondIteration['index'].apply(lambda x:len(x))
secondIteration = secondIteration.set_index("index").sort_values("Support", ascending = False)
#Elimination by Support Value
secondIteration = secondIteration[secondIteration.Support > 0.1]
secondIteration

                       Support  length
index
(TEA, MAGGI)              0.20       2
(BREAD, TEA)              0.20       2
(BREAD, SUGER)            0.20       2
(BREAD, MILK)             0.20       2
(BREAD, BISCUIT)          0.20       2
(COFFEE, CORNFLAKES)      0.20       2
(COFFEE, SUGER)           0.20       2
(BREAD, COFFEE)           0.15       2
(BREAD, MAGGI)            0.15       2
(BREAD, BOURNVITA)        0.15       2
(COFFEE, COCK)            0.15       2
(BISCUIT, CORNFLAKES)     0.15       2

## Apriori Iterations Function
Function that generalizes the algorithm to n iterations

In [7]:
def ar_iterations(data, num_iter = 1, support_value = 0.1, iterationIndex = None):
    
    # Next Iterations
    def ar_calculation(iterationIndex = iterationIndex): 
        # Calculation of support value
        value = []
        for i in range(0, len(iterationIndex)):
            result = data.T.loc[iterationIndex[i]].sum() 
            result = len(result[result == data.T.loc[iterationIndex[i]].shape[0]]) / data.shape[0]
            value.append(result)
        #Â Bind results
        result = pd.DataFrame(value, columns = ["Support"])
        result["index"] = [tuple(i) for i in iterationIndex]
        result['length'] = result['index'].apply(lambda x:len(x))
        result = result.set_index("index").sort_values("Support", ascending = False)
        # Elimination by Support Value
        result = result[result.Support > support_value]
        return result    
    
    # First Iteration
    first = pd.DataFrame(df.T.sum(axis = 1) / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
    first = first[first.Support > support_value]
    first["length"] = 1
    
    if num_iter == 1:
        res = first.copy()
        
    # Second Iteration
    elif num_iter == 2:
        
        second = list(itertools.combinations(first.index, 2))
        second = [list(i) for i in second]
        res = ar_calculation(second)
        
    # All Iterations > 2
    else:
        nth = list(itertools.combinations(set(list(itertools.chain(*iterationIndex))), num_iter))
        nth = [list(i) for i in nth]
        res = ar_calculation(nth)
    
    return res

# Association Rules

## Apriori

In [8]:
# Apriori
freq_items = apriori(df, min_support = 0.1, use_colnames = True, verbose = 1)
freq_items.sort_values("support", ascending = False)

Processing 108 combinations | Sampling itemset size 4

    support                             itemsets
2      0.65                              (BREAD)
4      0.40                             (COFFEE)
0      0.35                            (BISCUIT)
10     0.35                                (TEA)
5      0.30                         (CORNFLAKES)
9      0.30                              (SUGER)
7      0.25                              (MAGGI)
8      0.25                               (MILK)
30     0.20                      (COFFEE, SUGER)
34     0.20                         (TEA, MAGGI)
11     0.20                     (BREAD, BISCUIT)
29     0.20                 (COFFEE, CORNFLAKES)
26     0.20                         (TEA, BREAD)
25     0.20                       (SUGER, BREAD)
24     0.20                        (MILK, BREAD)
1      0.20                          (BOURNVITA)
21     0.15                      (COFFEE, BREAD)
27     0.15                       (COFFEE, COCK)
23     0.15                       (BREAD, MAGGI)
3      0.15                               (COCK)
18     0.15                   (BREAD, BOURNVITA)
14     0.15                (CORNFLAKES, BISCUIT)
19     0.10                   (SUGER, BOURNVITA)
44     0.10           (COFFEE, CORNFLAKES, COCK)
43     0.10                  (TEA, BREAD, MAGGI)
42     0.10                  (JAM, BREAD, MAGGI)
41     0.10               (COFFEE, SUGER, BREAD)
40     0.10              (TEA, BREAD, BOURNVITA)
39     0.10                (MAGGI, TEA, BISCUIT)
38     0.10        (COFFEE, CORNFLAKES, BISCUIT)
37     0.10          (CORNFLAKES, COCK, BISCUIT)
36     0.10              (COFFEE, COCK, BISCUIT)
35     0.10               (MILK, BREAD, BISCUIT)
32     0.10                    (CORNFLAKES, TEA)
33     0.10                         (JAM, MAGGI)
20     0.10                     (TEA, BOURNVITA)
31     0.10                   (CORNFLAKES, MILK)
6      0.10                                (JAM)
12     0.10                      (COCK, BISCUIT)
28     0.10                   (CORNFLAKES, COCK)
13     0.10                    (COFFEE, BISCUIT)
15     0.10                     (MAGGI, BISCUIT)
16     0.10                      (MILK, BISCUIT)
17     0.10                       (TEA, BISCUIT)
22     0.10                         (JAM, BREAD)
45     0.10  (COFFEE, CORNFLAKES, COCK, BISCUIT)

## Asociation Rules
- Antecedent support variable tells us probability of antecedent products alone
- Consequents support variable tells us probability of consequents products alone
- The support value is the value of the two products (Antecedents and Consequents)
- Confidence is an indication of how often the rule has been found to be true.
- The ratio of the observed support to that expected if X and Y were independent.

In [9]:
df_ar = association_rules(freq_items, metric = "confidence", min_threshold = 0.5)
df_ar[(df_ar.support > 0.15) & (df_ar.confidence > 0.5)].sort_values("confidence", ascending = False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
8,(MILK),(BREAD),0.25,0.65,0.2,0.800000,1.230769,0.0375,1.750000
19,(MAGGI),(TEA),0.25,0.35,0.2,0.800000,2.285714,0.1125,3.250000
9,(SUGER),(BREAD),0.30,0.65,0.2,0.666667,1.025641,0.0050,1.050000
14,(CORNFLAKES),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
16,(SUGER),(COFFEE),0.30,0.40,0.2,0.666667,1.666667,0.0800,1.800000
0,(BISCUIT),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
10,(TEA),(BREAD),0.35,0.65,0.2,0.571429,0.879121,-0.0275,0.816667
18,(TEA),(MAGGI),0.35,0.25,0.2,0.571429,2.285714,0.1125,1.750000